{% extends 'base.html' %}
{% load static %}
{% block title %} Покупка {% endblock %}
{% block h1 %} <h1 class="main__header">Общая статистика спроса</h1> {% endblock %}

{% block menu %}
<div class="sitebar__menu menu pt-20 bt">
   <div class="menu__list df">
        <a href="{% url 'home' %}" class="menu__item">Продажа</a>
        <a href="{% url 'buy' %}" class="menu__item menu__item-active">Покупка</a>
        <a href="{% url 'rating' %}" class="menu__item">Оценка</a>
   </div>
</div>
{% endblock %}


{% block statistics %}
<div class="main__statistics">
    <div class="product__card card p-20 whiteSquare">
        <a href="product.html">
            <div class="card__info pb-20">
                <div class="card__icon yarn">
                    <svg class="card__svg svg">
                        <use xlink:href="#yarn"></use>
                    </svg>
                </div>
                <div class="card__text">
                    <h2 class="card__title">Пряжа</h2>
                    <p class="card__number">Номер: <span>1</span></p>
                    <p class="card__mark">Марка: <span>CD</span></p>
                </div>
            </div>
            <p class="product__number pt-20 pb-20">298 млн <br> <span>(тон)</span></p>
            <a href="product.html"><div class="button clrW">Подробнее</div></a>
        </a>
    </div>
    <div class="product__card card p-20 whiteSquare">
        <a href="product.html">
            <div class="card__info pb-20">
                <div class="card__icon material">
                    <svg class="card__svg svg">
                        <use xlink:href="#material"></use>
                    </svg>
                </div>
                <div class="card__text">
                    <h2 class="card__title">Пряжа</h2>
                    <p class="card__number">Номер: <span>1</span></p>
                    <p class="card__mark">Марка: <span>CD</span></p>
                </div>
            </div>
            <p class="product__number pt-20 pb-20">298 млн <br> <span>(тон)</span></p>
            <a href="product.html"><div class="button clrW">Подробнее</div></a>
        </a>
    </div>
    <div class="product__card card p-20 whiteSquare">
        <a href="product.html">
            <div class="card__info pb-20">
                <div class="card__icon tkan">
                    <svg class="card__svg svg">
                        <use xlink:href="#tkan"></use>
                    </svg>
                </div>
                <div class="card__text">
                    <h2 class="card__title">Пряжа</h2>
                    <p class="card__number">Номер: <span>1</span></p>
                    <p class="card__mark">Марка: <span>CD</span></p>
                </div>
            </div>
            <p class="product__number pt-20 pb-20">298 млн <br> <span>(тон)</span></p>
            <a href="product.html"><div class="button clrW">Подробнее</div></a>
        </a>
    </div>
</div>
{% endblock %}


{% block best %}
<div class="main__best table p-20 whiteSquare">
    <h3 class="h3 pb-20">Лучшие покупатели</h3>
    <div class="table__title table-2">
        <p class="table__text tbr tbb">Название</p>
        <p class="table__text tbb">Рейтинг</p>
    </div>
    {% for c in company_list%}
    <div class="table__info table-2">
        <div class="company table__text tbr tbb">
            <div class="company__order default">1</div>
<!--            <div class="company__logo">-->
<!--                <img src="#" alt="{{ c.profile.title }}" class="img">-->
<!--            </div>-->
            <div class="company__name"><a href="#">{{ c.username }}</a></div>
        </div>
        <div class="company__score table__text tbb">{{ c.profile.mark }}</div>
    </div>
    {% endfor %}
</div>
{% include 'main/cottonPrice.html' %}
{% endblock %}

