{% extends 'base.html' %}
{% load static %}
{% block title %}Продажа{% endblock %}
{% block h1 %} <h1 class="main__header">Общая статистика</h1> {% endblock %}

{% block menu %}
    {% include 'main/menu.html' %}
{% endblock %}


{% block statistics %}
<div class="main__statistics">
    <div class="product__card card p-20 whiteSquare">
        <a href="{% url 'products' 1 %}">
            <div class="card__info">
                <div class="card__icon yarn">
                    <svg class="card__svg svg">
                        <use xlink:href="#yarn"></use>
                    </svg>
                </div>
                <div class="card__text">
                    <h2 class="card__title">Пряжа</h2>
                    <p class="product__number pt-20">{% if yarn_coast.product_much__sum == None %}0{% else %}{{ yarn_coast.product_much__sum }}{% endif %}млн <span>(тон)</span></p>
                </div>
            </div>
        </a>
    </div>

    <div class="product__card card p-20 whiteSquare">
        <a href="{% url 'products' 2 %}">
            <div class="card__info">
                <div class="card__icon material">
                    <svg class="card__svg svg">
                        <use xlink:href="#material"></use>
                    </svg>
                </div>
                <div class="card__text">
                    <h2 class="card__title">Полотно</h2>
                    <p class="product__number pt-20">{% if material_coast.product_much__sum == None %}0{% else %}{{ material_coast.product_much__sum }}{% endif %} млн <span>(тон)</span></p>
                </div>
            </div>
        </a>
    </div>

    <div class="product__card card p-20 whiteSquare">
        <a href="{% url 'products' 3 %}">
            <div class="card__info">
                <div class="card__icon tkan">
                    <svg class="card__svg svg">
                        <use xlink:href="#tkan"></use>
                    </svg>
                </div>
                <div class="card__text">
                    <h2 class="card__title">Ткань</h2>
                    <p class="product__number pt-20">{% if tkan_coast.product_much__sum == None %}0{% else %}{{ tkan_coast.product_much__sum }}{% endif %} млн <span>(тон)</span></p>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}


{% block best %}
<div class="main__best table p-20 whiteSquare">
    <h3 class="h3 pb-20">Лучшие производители</h3>
    <div class="table__title table-2">
        <p class="table__text tbr tbb">Название</p>
        <p class="table__text tbb">Рейтинг</p>
    </div>
    {% for c in company_list%}
    <div class="table__info table-2">
        <div class="company table__text tbr tbb">
            <div class="company__order default">{{ forloop.counter }}</div>
<!--            <div class="company__logo">-->
<!--                <img src="{{ profile.log.url }}" alt="{{ c.profile.title }}" class="img">-->
<!--            </div>-->
            <div class="company__name"><a href="#">{{ c.title }}</a></div>
        </div>
        <div class="company__score table__text tbb">{{ c.mark }}</div>
    </div>
    {% endfor %}
</div>
{% include 'main/cottonPrice.html' %}
{% endblock %}


