{% extends 'base.html' %}
{% load static %}
{% block title %} Профиль {% endblock %}

{% block menu %}
    {% include 'main/menu.html' %}
{% endblock %}


{% block h1 %} <h1 class="main__header">Привет {{ user.username }}</h1> {% endblock %}


{% block statistics %}
    <div class="main__middle">
        <form method="POST" class="main__form form">
            {% csrf_token %}
            <div class="form__group">
                <label for="{{ form.order_to.id_for_label }}" class="form__label">Ордер на:</label>
                {{ form.order_to }}
            </div>
            <div class="form__inputs">
                <div class="form__group">
                    <label for="{{ form.product_type.id_for_label }}" class="form__label">Продукт:</label>
                     {{ form.product_type }}
                </div>
                <div class="form__group">
                    <label for="{{ form.product_number.id_for_label }}" class="form__label">Номер продукта</label>
                    {{ form.product_number }}
                </div>
                <div class="form__group">
                    <label for="{{ form.product_mark.id_for_label }}" class="form__label">Марка продукта</label>
                    {{ form.product_mark }}
                </div>
                <div class="form__group">
                    <label for="{{ form.product_much.id_for_label }}" class="form__label">Количество (млн.тон)</label>
                    {{ form.product_much }}
                </div>
            </div>
            <div class="form__textaream">
                <label for="{{ form.text.id_for_label }}" class="form__label">Примечания</label>
                {{ form.text }}
            </div>
            <button type="submit" class="form__button button clrW">Сохранить</button>
        </form>
    </div>
{% endblock %}


{% block best %}
{% endblock %}
