{% extends 'base.html' %}
{% load static %}
{% block title %} Зарегистрировать аккаунт {% endblock %}

{% block menu %}
<div class="sitebar__menu menu pt-20 bt">
   <div class="menu__list df">
        <a href="{% url 'home' %}" class="menu__item">Продажа</a>
        <a href="{% url 'buy' %}" class="menu__item">Покупка</a>
        <a href="{% url 'rating' %}" class="menu__item">Оценка</a>
   </div>
</div>
{% endblock %}


{% block h1 %} <h1 class="main__header">Зарегистрироваться</h1> {% endblock %}


{% block statistics %}
<form method="POST" class="main__form form registration">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="form__button button clrW">Зарегистрироваться</button>
</form>
{% endblock %}